@tailwind base;
@tailwind components;
@tailwind utilities;


/* utility classes */

.second{
  background-color: #f5b7b1;
}

.primary{
  background-color: #fadbd8;
}

body{
  background-color: #fadbd8;
}

.Hero{
  height: 90vh;
} 


.table-container {
  display: flex;
  justify-content: center;
}

.columns{
  width:100% !important;
  background-color: #f5b7b1;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}
.report-table th, .report-table td {
  padding: 8px 40px;  
}

.report-table th {
  text-align:left;
}

.download{
  text-align:center !important;
}

.report-table td {
  text-align:left;
}

.report-table td:last-child {
  text-align: center;
}


.table-container{
  height: 75vh;
}


.active{

  .page-link{
   background-color:#f5b7b1;
   
  }
}


.file:hover{
  background-color: #f5b7b1;
  border-radius: 10px 15px 10px 10px;
}